.name{
font-family: 'Times New Roman', Times, serif;
font-size: large;
}
.full-page
{
    display: flex;
}
.personal-information {
   background-color: rgba(2, 2, 58, 0.734);
   width: 200px;
   height: 1000px;
}
.main-information {
    background-color: rgba(8, 8, 8, 0.251);
    width: 500px;
    height: 1000px;
}
#photo {
    object-fit: cover;
    position:relative; top:25px; left: 25px; right: 25px; bottom: 500px;
    width: 150px;
    height:auto;
    border-radius: 100px;
}
#line-for-dark{
    width: 25px;
    height: 2px;
    background-color: beige;
}
#line-for-lignt{
    width: 25px;
    height: 2px;
    background-color: rgb(14, 14, 85);
}
.text-for-dark{
    color:beige;
}

.all-text{
    font-family: 'Times New Roman', Times, serif;
}